

.navbar {
  background-color: transparent; 
}

.sec-center {
  position: relative;
  max-width: 100%;
  text-align: center;
  z-index: 200;
}
[type="checkbox"]:checked,
[type="checkbox"]:not(:checked){
  position: absolute;
  left: -9999px;
  opacity: 0;
  pointer-events: none;
}
.dark-light:checked + label,
.dark-light:not(:checked) + label{
  position: fixed;
  top: 40px;
  right: 40px;
  z-index: 20000;
  display: block;
  border-radius: 50%;
  width: 46px;
  height: 46px;
  cursor: pointer;
  transition: all 200ms linear;
  box-shadow: 0 0 25px rgba(255,235,167,.45);
}
.dark-light:checked + label{
  transform: rotate(360deg);
}
.dark-light:checked + label:after,
.dark-light:not(:checked) + label:after{
  position: absolute;
  content: '';
  top: 1px;
  left: 1px;
  overflow: hidden;
  z-index: 2;
  display: block;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: #102770;
  background-image: url('https://assets.codepen.io/1462889/moon.svg');
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 200ms linear;
  opacity: 0;
}
.dark-light:checked + label:after {
  opacity: 1;
}
.dark-light:checked + label:before,
.dark-light:not(:checked) + label:before{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 1;
  display: block;
  border-radius: 50%;
  width: 46px;
  height: 46px;
  background-color: #48dbfb;
  background-image: url('https://assets.codepen.io/1462889/sun.svg');
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 200ms linear;
}
.dark-light:checked + label:before{
  background-color: #000;
}
.light-back{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #fff;
  overflow: hidden;
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg');
  background-position: center;
  background-repeat: repeat;
  background-size: 4%;
  height: 100%;
  width: 100%;
  transition: all 200ms linear;
  opacity: 0;
}
.dark-light:checked ~ .light-back{
  opacity: 1;
}
.dropdown:checked + label,
.dropdown:not(:checked) + label{
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 2;
  height: 50px;
  transition: all 200ms linear;
  border-radius: 4px;
  width: 220px;
  letter-spacing: 1px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  text-align: center;
  border: none;
  background-color: #ffeba7;
  cursor: pointer;
  color: #102770;
  box-shadow: 0 12px 35px 0 rgba(255,235,167,.15);
}
.dark-light:checked ~ .sec-center .for-dropdown{
  background-color: #102770;
  color: #ffeba7;
  box-shadow: 0 12px 35px 0 rgba(16,39,112,.25);
}
.dropdown:checked + label:before,
.dropdown:not(:checked) + label:before{
  position: fixed;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  z-index: -1;
  cursor: auto;
  pointer-events: none;
}
.dropdown:checked + label:before{
  pointer-events: auto;
}
.dropdown:not(:checked) + label .uil {
  font-size: 24px;
  margin-left: 10px;
  transition: transform 200ms linear;
}
.dropdown:checked + label .uil {
  transform: rotate(180deg);
  font-size: 24px;
  margin-left: 10px;
  transition: transform 200ms linear;
}
.section-dropdown {
  position: absolute;
  padding: 5px;
  background-color: #111;
  top: 70px;
  left: 0;
  width: 100%;
  border-radius: 4px;
  display: block;
  box-shadow: 0 14px 35px 0 rgba(9,9,12,0.4);
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  transform: translateY(20px);
  transition: all 200ms linear;
}
.dark-light:checked ~ .sec-center .section-dropdown {
  background-color: #fff;
  box-shadow: 0 14px 35px 0 rgba(9,9,12,0.15);
}
.dropdown:checked ~ .section-dropdown{
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
.section-dropdown:before {
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  height: 20px;
  content: '';
  display: block;
  z-index: 1;
}
.section-dropdown:after {
  position: absolute;
  top: -7px;
  left: 30px;
  width: 0; 
  height: 0; 
  border-left: 8px solid transparent;
  border-right: 8px solid transparent; 
  border-bottom: 8px solid #111;
  content: '';
  display: block;
  z-index: 2;
  transition: all 200ms linear;
}
.dark-light:checked ~ .sec-center .section-dropdown:after {
  border-bottom: 8px solid #fff;
}

a {
  position: relative;
  color: #fff;
  transition: all 200ms linear;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 15px;
  border-radius: 2px;
  padding: 5px 0;
  padding-left: 20px;
  padding-right: 15px;
  margin: 2px 0;
  text-align: left;
  text-decoration: none;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  justify-content: space-between;
    -ms-flex-pack: distribute;
}
.dark-light:checked ~ .sec-center .section-dropdown a {
  color: #102770;
}
a:hover {
  color: #102770;
  background-color: #ffeba7;
}
.dark-light:checked ~ .sec-center .section-dropdown a:hover {
  color: #ffeba7;
  background-color: #102770;
}
a .uil {
  font-size: 22px;
}
.dropdown-sub:checked + label,
.dropdown-sub:not(:checked) + label{
  position: relative;
  color: #fff;
  transition: all 200ms linear;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 15px;
  border-radius: 2px;
  padding: 5px 0;
  padding-left: 20px;
  padding-right: 15px;
  text-align: left;
  text-decoration: none;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  justify-content: space-between;
    -ms-flex-pack: distribute;
    cursor: pointer;
}
.dropdown-sub:checked + label .uil,
.dropdown-sub:not(:checked) + label .uil{
  font-size: 22px;
}
.dropdown-sub:not(:checked) + label .uil {
  transition: transform 200ms linear;
}
.dropdown-sub:checked + label .uil {
  transform: rotate(135deg);
  transition: transform 200ms linear;
}
.dropdown-sub:checked + label:hover,
.dropdown-sub:not(:checked) + label:hover{
  color: #102770;
  background-color: #ffeba7;
}
.dark-light:checked ~ .sec-center .section-dropdown .for-dropdown-sub{
  color: #102770;
}
.dark-light:checked ~ .sec-center .section-dropdown .for-dropdown-sub:hover{
  color: #ffeba7;
  background-color: #102770;
}

.section-dropdown-sub {
  position: relative;
  display: block;
  width: 100%;
  pointer-events: none;
  opacity: 0;
  max-height: 0;
  padding-left: 10px;
  padding-right: 3px;
  overflow: hidden;
  transition: all 200ms linear;
}
.dropdown-sub:checked ~ .section-dropdown-sub{
  pointer-events: auto;
  opacity: 1;
  max-height: 999px;
}
.section-dropdown-sub a {
  font-size: 14px;
}
.section-dropdown-sub a .uil {
  font-size: 20px;
}
.dark-light:checked ~ .logo img{
  filter: brightness(10%);
}

@media screen and (max-width: 991px) {
.logo {
	top: 30px;
	left: 20px;
}
.dark-light:checked + label,
.dark-light:not(:checked) + label{
  top: 20px;
  right: 20px;
}
}


.cuadrilla{
  display: grid;
  grid-template-columns: 3fr 9fr;
  /* grid-gap: 10px; */
  /* grid-auto-rows: minmax(100px, auto); */

}

.cuadrilla2{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 13px;
}

.nose{
  width: 100%;
  margin-left: auto;
  margin-right: auto;

}
#hola123{
  padding-top: 0;
  padding-bottom: 0;
  /* font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 15px;
  border-radius: 2px;
  padding: 0px ;
  margin: 0px;
  text-align: left;
  text-decoration: none;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  justify-content: space-between;
    -ms-flex-pack: distribute;
 */
}
.card{
  transition: all 200ms ease-in-out;
  background: #F2F2F2 ;
  /* background: linear-gradient(0deg, #ECDBBA, #ECDBBA) no-repeat right bottom; */
}
.card:hover{
  z-index: 7;
  transform: scale(1.1);
  transition: all 200ms ease-in-out;
}
#botonProducto{
  display: none
}

@media (min-width: 700px){
  .cuadrilla{
    display: grid;
    grid-template-columns: 3fr 9fr;  
  }    
  #botonProducto{
    display: none
  }
}
@media (max-width: 700px){
  .opciones{
    display: none
  }

}
.opciones{
  padding-top: 25px;
}
body{
  background-color: #eee;
}

/* .circulos {
  width: 1000px;
  height: 1000px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #0a494f;
} */
.circulos {
  z-index: -2;
  width: 900px;
  height: 900px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  /* background: #094265cc; */
  background: linear-gradient(0deg, #09426500, #08375428) no-repeat right bottom;

}

@media (max-width: 700px){
  .circulos{
    width: 900px;
    height: 900px;
  }
  .card:hover{
    z-index: 7;
    transform: scale(1);
    transition: all 200ms ease-in-out;
  }
}


.circulos2 {
  transition: all 0.2s ease-in-out;
  width: 100px;
  height: 100px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #04293A;
  position: absolute;
  right: -55px;
  bottom:  -55px;
}
/* .card:hover .circulos2{
  transition: all 0.5s ease-in-out;
  right: -75px;
  bottom:  -95px;
  width: 400px;
  height: 400px;
  z-index: -10;
} */

#circulo1{
  position: absolute;
  left: -300px;
  top:  100px
}
#circulo2{
  position: absolute;
  left: 1000px;
  top:  600px
}


.nombreMarca{
  font-size: 35px;
}

.cosaRara{
  overflow: hidden;
}

.card-body{
  overflow: hidden;
}

.card{
  border: 1px solid rgb(114, 114, 114)
}

.btn-outline-default{
  border: 2px solid #019267 !important;
  color: #019267 !important;
}

.divProducto{
position: fixed;
  height: 90%;
  width: 98%;
  top: 5%;
  left: 1%; /* position the left edge of the element at the middle of the parent */
  background-color: rgb(255, 255, 255);
  z-index: 60;
  border-radius:15px;
}

.fotoProducto{
  display: flex;
  align-items: center;
}
body{
  font-family: "Montserrat", sans-serif;
}
.responsive-font-example{
  font-size: 2em;
  font-family: Montserrat, sans-serif;
}

.responsive-font-example2{
  font-size:4vw;
  font: 300 24px/80px "Montserrat",sans-serif!important;
}


.estiloNose{
  transition:all 0.3s ease-in-out;
  transform: scale(0.1);
}

.active{
  background: rgba(214, 214, 214, 0.694);
}

.nav1{
  margin-top: 0px;
  margin-bottom: 0px;
  z-index: 30;
  display: flex;
  /* grid-template-columns: 2fr 1fr; */
  color: white;
  justify-content: space-between;
  align-items: baseline
}

.categorias div:nth-child(2){
  padding-right: 38px;
}

.categorias p{
  background: linear-gradient(0deg, slateblue, slateblue) no-repeat right bottom / 0 var(--bg-h);
  transition: background-size 350ms;
  --bg-h: 100%;
  padding-bottom: 2px;
  --bg-h: 2px;  
}

.categorias p:where(:hover, :focus-visible) {
  background-size: 100% var(--bg-h);
  background-position-x: left;
}

.categorias p:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}


.logo{
  /* background: rgba(255, 255, 255, 0.) */
  font-family: 'Montserrat', sans-serif;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 40px;
  z-index: 30;
  padding-top: 12px;
  padding-bottom: 0px;
  letter-spacing: 2px;
}

.categorias{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;  
}

  body{
    background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  }
  .stars {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    transform: rotate(-45deg);
    z-index: -50;
  }
  
  .star {
    z-index: -50;
    --star-color: hsla(196, 78%, 61%, 0.161);
    --star-tail-length: 6em;
    --star-tail-height: 2px;
    --star-width: calc(var(--star-tail-length) / 6);
    --fall-duration: 9s;
    --tail-fade-duration: var(--fall-duration);
    position: absolute;
    top: var(--top-offset);
    left: 0;
    width: var(--star-tail-length);
    height: var(--star-tail-height);
    color: var(--star-color);
    background: linear-gradient(45deg, currentColor, transparent);
    border-radius: 50%;
    filter: drop-shadow(0 0 6px currentColor);
    transform: translate3d(104em, 0, 0);
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
  }
  @media screen and (max-width: 750px) {
    .star {
      animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
    }
  }
  .star:nth-child(1) {
    --star-tail-length: 6.88em;
    --top-offset: 36.34vh;
    --fall-duration: 11.187s;
    --fall-delay: 2.88s;
  }
  .star:nth-child(2) {
    --star-tail-length: 5.7em;
    --top-offset: 61.95vh;
    --fall-duration: 9.155s;
    --fall-delay: 6.23s;
  }
  .star:nth-child(3) {
    --star-tail-length: 6.25em;
    --top-offset: 97.68vh;
    --fall-duration: 8.216s;
    --fall-delay: 9.88s;
  }
  .star:nth-child(4) {
    --star-tail-length: 5.15em;
    --top-offset: 18.84vh;
    --fall-duration: 7.445s;
    --fall-delay: 5.895s;
  }
  .star:nth-child(5) {
    --star-tail-length: 7.44em;
    --top-offset: 89.2vh;
    --fall-duration: 11.503s;
    --fall-delay: 0.525s;
  }
  .star:nth-child(6) {
    --star-tail-length: 7.29em;
    --top-offset: 19.47vh;
    --fall-duration: 11.218s;
    --fall-delay: 5.11s;
  }
  .star:nth-child(7) {
    --star-tail-length: 5.06em;
    --top-offset: 50.59vh;
    --fall-duration: 7.746s;
    --fall-delay: 5.883s;
  }
  .star:nth-child(8) {
    --star-tail-length: 6.1em;
    --top-offset: 28.12vh;
    --fall-duration: 9.712s;
    --fall-delay: 1.232s;
  }
  .star:nth-child(9) {
    --star-tail-length: 6.74em;
    --top-offset: 54.55vh;
    --fall-duration: 9.16s;
    --fall-delay: 9.743s;
  }
  .star:nth-child(10) {
    --star-tail-length: 5.09em;
    --top-offset: 88.88vh;
    --fall-duration: 10.262s;
    --fall-delay: 7.984s;
  }
  .star:nth-child(11) {
    --star-tail-length: 5.73em;
    --top-offset: 15.34vh;
    --fall-duration: 8.285s;
    --fall-delay: 1.563s;
  }
  .star:nth-child(12) {
    --star-tail-length: 6.21em;
    --top-offset: 97.65vh;
    --fall-duration: 9.246s;
    --fall-delay: 3.154s;
  }
  .star:nth-child(13) {
    --star-tail-length: 6.52em;
    --top-offset: 3.22vh;
    --fall-duration: 11.885s;
    --fall-delay: 7.169s;
  }
  .star:nth-child(14) {
    --star-tail-length: 5.55em;
    --top-offset: 6.88vh;
    --fall-duration: 9.391s;
    --fall-delay: 2.863s;
  }
  .star:nth-child(15) {
    --star-tail-length: 7.17em;
    --top-offset: 39.81vh;
    --fall-duration: 6.968s;
    --fall-delay: 5.342s;
  }
  .star:nth-child(16) {
    --star-tail-length: 7.22em;
    --top-offset: 43.13vh;
    --fall-duration: 8.885s;
    --fall-delay: 6.889s;
  }
  .star:nth-child(17) {
    --star-tail-length: 5.46em;
    --top-offset: 3.27vh;
    --fall-duration: 8.304s;
    --fall-delay: 0.043s;
  }
  .star:nth-child(18) {
    --star-tail-length: 6.75em;
    --top-offset: 57.99vh;
    --fall-duration: 7.151s;
    --fall-delay: 3.703s;
  }
  .star:nth-child(19) {
    --star-tail-length: 6.26em;
    --top-offset: 88.45vh;
    --fall-duration: 6.715s;
    --fall-delay: 6.483s;
  }
  .star:nth-child(20) {
    --star-tail-length: 6.94em;
    --top-offset: 92.43vh;
    --fall-duration: 9.102s;
    --fall-delay: 5.999s;
  }
  .star:nth-child(21) {
    --star-tail-length: 6.45em;
    --top-offset: 30.39vh;
    --fall-duration: 11.81s;
    --fall-delay: 3.789s;
  }
  .star:nth-child(22) {
    --star-tail-length: 5.1em;
    --top-offset: 15.6vh;
    --fall-duration: 9.212s;
    --fall-delay: 0.988s;
  }
  .star:nth-child(23) {
    --star-tail-length: 5.14em;
    --top-offset: 50.92vh;
    --fall-duration: 6.841s;
    --fall-delay: 8.62s;
  }
  .star:nth-child(24) {
    --star-tail-length: 6.92em;
    --top-offset: 9.77vh;
    --fall-duration: 7.437s;
    --fall-delay: 1.213s;
  }
  .star:nth-child(25) {
    --star-tail-length: 7.11em;
    --top-offset: 4.41vh;
    --fall-duration: 10.856s;
    --fall-delay: 8.574s;
  }
  .star:nth-child(26) {
    --star-tail-length: 5.43em;
    --top-offset: 51.74vh;
    --fall-duration: 9.923s;
    --fall-delay: 5.066s;
  }
  .star:nth-child(27) {
    --star-tail-length: 6.86em;
    --top-offset: 10.12vh;
    --fall-duration: 7.441s;
    --fall-delay: 4.464s;
  }
  .star:nth-child(28) {
    --star-tail-length: 5.59em;
    --top-offset: 89.16vh;
    --fall-duration: 8.559s;
    --fall-delay: 1.409s;
  }
  .star:nth-child(29) {
    --star-tail-length: 6.01em;
    --top-offset: 82.44vh;
    --fall-duration: 8.832s;
    --fall-delay: 6.716s;
  }
  .star:nth-child(30) {
    --star-tail-length: 5.37em;
    --top-offset: 91.68vh;
    --fall-duration: 11.517s;
    --fall-delay: 7.727s;
  }
  .star:nth-child(31) {
    --star-tail-length: 7.15em;
    --top-offset: 90.46vh;
    --fall-duration: 10.972s;
    --fall-delay: 0.864s;
  }
  .star:nth-child(32) {
    --star-tail-length: 7.06em;
    --top-offset: 62.28vh;
    --fall-duration: 10.497s;
    --fall-delay: 0.115s;
  }
  .star:nth-child(33) {
    --star-tail-length: 6.41em;
    --top-offset: 7.46vh;
    --fall-duration: 9.5s;
    --fall-delay: 7.507s;
  }
  .star:nth-child(34) {
    --star-tail-length: 6.02em;
    --top-offset: 49.39vh;
    --fall-duration: 9.571s;
    --fall-delay: 5.154s;
  }
  .star:nth-child(35) {
    --star-tail-length: 5.23em;
    --top-offset: 32.83vh;
    --fall-duration: 11.01s;
    --fall-delay: 6.445s;
  }
  .star:nth-child(36) {
    --star-tail-length: 5.42em;
    --top-offset: 54.81vh;
    --fall-duration: 8.859s;
    --fall-delay: 1.765s;
  }
  .star:nth-child(37) {
    --star-tail-length: 5.31em;
    --top-offset: 95.75vh;
    --fall-duration: 10.631s;
    --fall-delay: 8.238s;
  }
  .star:nth-child(38) {
    --star-tail-length: 6.8em;
    --top-offset: 95.9vh;
    --fall-duration: 6.486s;
    --fall-delay: 0.134s;
  }
  .star:nth-child(39) {
    --star-tail-length: 6.9em;
    --top-offset: 42.96vh;
    --fall-duration: 9.535s;
    --fall-delay: 4.313s;
  }
  .star:nth-child(40) {
    --star-tail-length: 6.84em;
    --top-offset: 89.52vh;
    --fall-duration: 9.523s;
    --fall-delay: 7.227s;
  }
  .star:nth-child(41) {
    --star-tail-length: 5.23em;
    --top-offset: 75.33vh;
    --fall-duration: 6.747s;
    --fall-delay: 5.623s;
  }
  .star:nth-child(42) {
    --star-tail-length: 7.34em;
    --top-offset: 55.09vh;
    --fall-duration: 9.985s;
    --fall-delay: 5.442s;
  }
  .star:nth-child(43) {
    --star-tail-length: 5.81em;
    --top-offset: 79.08vh;
    --fall-duration: 8.134s;
    --fall-delay: 0.123s;
  }
  .star:nth-child(44) {
    --star-tail-length: 5.86em;
    --top-offset: 66.25vh;
    --fall-duration: 10.441s;
    --fall-delay: 3.628s;
  }
  .star:nth-child(45) {
    --star-tail-length: 7.39em;
    --top-offset: 11.62vh;
    --fall-duration: 8.786s;
    --fall-delay: 6.072s;
  }
  .star:nth-child(46) {
    --star-tail-length: 6.39em;
    --top-offset: 61.48vh;
    --fall-duration: 11.256s;
    --fall-delay: 1.806s;
  }
  .star:nth-child(47) {
    --star-tail-length: 6.54em;
    --top-offset: 67.51vh;
    --fall-duration: 11.69s;
    --fall-delay: 6.921s;
  }
  .star:nth-child(48) {
    --star-tail-length: 5.81em;
    --top-offset: 49.94vh;
    --fall-duration: 8.024s;
    --fall-delay: 2.496s;
  }
  .star:nth-child(49) {
    --star-tail-length: 7.03em;
    --top-offset: 85.77vh;
    --fall-duration: 8.217s;
    --fall-delay: 3.235s;
  }
  .star:nth-child(50) {
    --star-tail-length: 7.27em;
    --top-offset: 7.58vh;
    --fall-duration: 8.798s;
    --fall-delay: 1.177s;
  }
  .star::before, .star::after {
    position: absolute;
    content: "";
    top: 0;
    left: calc(var(--star-width) / -2);
    width: var(--star-width);
    height: 100%;
    background: linear-gradient(45deg, transparent, currentColor, transparent);
    border-radius: inherit;
    animation: blink 2s linear infinite;
  }
  .star::before {
    transform: rotate(45deg);
  }
  .star::after {
    transform: rotate(-45deg);
  }
  
  @keyframes fall {
    to {
      transform: translate3d(-30em, 0, 0);
    }
  }
  @keyframes tail-fade {
    0%, 50% {
      width: var(--star-tail-length);
      opacity: 1;
    }
    70%, 80% {
      width: 0;
      opacity: 0.4;
    }
    100% {
      width: 0;
      opacity: 0;
    }
  }
  @keyframes blink {
    50% {
      opacity: 0.6;
    }
  }

  @import url('https://fonts.googleapis.com/css?family=Poppins:100,300,400,500,600,700,800, 800i, 900&display=swap');

  @import url("https://fonts.googleapis.com/css2?family=Istok+Web:wght@400;700&display=swap");

  /* * {
    margin: 0;
    padding: 0;
    font-family: "Istok Web", sans-serif;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #212121;
  } */
  i{
    transition: all 200ms ease-in-out;
    color: rgb(203, 203, 203);
  }
  i:hover{
    color: white;
    transform: scale(1.1);
    transition: all 500ms ease-in-out;
  }
  .carta {
    position: relative;
    /* width: 320px; */
    height: 500px;
    background: #191919;
    border-radius: 10px;
    overflow: hidden;
    /* margin: 150px; */
  }
  
  .carta::before {
    content: "";
    position: absolute;
    top: -50%;
    width: 100%;
    height: 100%;
    /* background: #ffdc40bd; */
    background: #417D7A;   
    transform: skewY(345deg);
    transition: 0.5s;
  }
  
  .carta:hover::before {
    top: -70%;
    transform: skewY(390deg);
  }
  
  .carta::after {
    content: "CORSAIR";
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: 600;
    font-size: 6em;
    color: rgba(0, 0, 0, 0.1);
  }
  
  .carta .imgBox {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    z-index: 1;
  }
  /*
  .carta .imgBox img {
      max-width: 100%;
      
      transition: .5s;
  }
  
  .carta:hover .imgBox img {
      max-width: 50%;
        
  }
  */
  .carta .contentBox {
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
  }
  
  .carta .contentBox h3 {
    font-size: 18px;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
  .carta .contentBox .price {
    font-size: 24px;
    color: white;
    font-weight: 700;
    letter-spacing: 1px;
  }
  
  .carta .contentBox .buy {
    position: relative;
    top: 100px;
    opacity: 0;
    padding: 10px 30px;
    margin-top: 15px;
    color: #ffffff;
    text-decoration: none;
    /* background: #1D5C63; */
    background: #01a6b9;
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.5s;
  }
  
  .carta:hover .contentBox .buy {
    top: 0;
    opacity: 1;
  }
  
  .carta:hover .mouse{
    transform: translateY(-13%);
    transition: all 0.5s ease-out;
  }

  .mouse {
    width: 97%;
    transition: all 0.5s ease-out;
  }
  
  .active {
    background-color: #04293ae5;
  }

  .marca {
    padding-left: 5%;
  }
  #menu{
    list-style: none;
    padding: 0;
  }
  #menu li>a{
    background-color: grey;
    color: white;
    padding: 10px;
    /* display: block; */
    text-decoration: none;
    min-width: 100px;
    width: 100%;
  }
  #menu li>a:hover{
    color: #000;
    background-color: #eaeaea;
  }
  #menu>li{
    text-align:center
  }
  #menu>li>div>div{
    /* left: 0px; */
    list-style: none;
    transition: visibility 0s, opacity 0.9s linear;
    position: absolute !important;
    /* transform: translate(-100%, 0) */
  }
  #menu>li:hover>div{
    /* left: 0px; */
    transition: all 0s, opacity 0.9s linear;
    /* transition: all 0.5s ease-out; */
  }
  .btn{
    box-shadow: 0 2px 30px 0 rgb(0 0 0 / 46%), 0 2px 10px 0 rgb(0 0 0 / 42%)
  }
  /* #menu>li>div:nth-child(2){
    top: -500;
  } */

  .btn1{
    left: -20px;
  }
  ul, ol {
    list-style:none;
  }

  .nav22 > li {
    float:left;
    width: 100%;
    
  }
  .nav22{
    width: 100%;
    padding: 0;
  }
  .nav22 li .button {
    width: 100%;
    border: 2px solid #ffa000 !important;
    text-decoration:none;
    padding:10px 12px;
    display: flex;
    justify-content: center;
    color: #ECDBBA;
    box-shadow: 0 2px 30px 0 rgb(0 0 0 / 46%), 0 2px 10px 0 rgb(0 0 0 / 42%);
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    margin: 0.375rem;
  }
  
  .nav22 li ul {
    /* background: white; */
  }
  .btn-outline-amber{
    color: #ECDBBA ;
  }
  .nav22 li ul {
    display:none;
    position:absolute;
    min-width:140px;
  }
  
  .nav22 li:hover > ul {
    display:block;
  }
  
  .nav22 li ul li {
    position:relative;
  }
  
  .nav22 li ul li ul {
    right:-140px;
    top:0px;
  }
