#shop-button , #look-button:hover{
    transition: all 0.5s ease-out  !important;
}

#shop-button:hover{
    transform: scale(1.08) !important;
}
#look-button:hover{
    transform: scale(1.05) !important;
}

.boton-nav:hover{
    transform: scale(1.1);
}

.md-form{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

#buscador{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-bottom: 0;
}
